.sidebar-header {
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    transition: background 0.2s;
    .user-status {
      font-size: 11px;
      margin-left: 4px;
      line-height: 30px;
      color: #5cb85c;
    }
    .user-pic {
      float: left;
      width: 60px;
      padding: 2px;
      border-radius: 12px;
      margin-right: 10px;
      overflow: hidden;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    .user-info {
      float: left;
      color: #fff;
      font-size: 1.125rem;
      line-height: 1.5;
      span {
        display: block;
      }
      .user-role {
        font-size: 0.9375rem;
        line-height: 1.125rem;
        color: #868686;
        font-weight: 500;
      }
    }
  }
  .sidebar-header:hover {
    background: rgba(0, 0, 0, 0.47);
    border-bottom: 0px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 3px 20px #000;
  }
