.custom-control-indicator {
  background-color: transparent;
  border: 2px solid #333 !important;

}
.custom-control-description {
  height: 25px;
  line-height: 21px;
  font-weight: normal;
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 22px;
  font-size: 1rem;
}
.custom-control {
  width: 100%;
  cursor: pointer;
}
