.dropdown-menu {
  bottom: 31px;
  left: 0 !important;
  top: initial !important;
  right: 0 !important;
  transform: none !important;
  display: block;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 0.9rem;
}

.popup {
  .popup-header {
    padding: 0 1rem;
  }
}

.dropdown-item {
  padding: 0.25rem 1rem;
}
.message-content {
  display: flex;
  .pic {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  .content {
    line-height: 1.6;
    padding-left: 5px;
    width: calc(100% - 40px);

    .message-title {
      font-size: 13px;
    }

    .message-detail {
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
