<div class="dropdown-menu popup" *ngIf="show">
  <div class="popup-header">
      <em class="fa fa-envelope"></em>
          Messages
  </div>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="javascript:void(0)">
      <div class="message-content">
        <div class="pic">
          <img alt="" src="../../../assets/user.jpg"></div>
        <div class="content">
          <div class="message-title">
            <strong class="ng-tns-c1-0"> Jhon doe</strong>
          </div>
          <div class="message-detail">Lorem
            ipsum dolor sit amet consectetur adipisicing elit. In totam
            explicabo</div>
        </div>
      </div>
    </a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item text-center" href="javascript:void(0)">View all messages</a>
</div>
