<div class="dropdown-menu popup" *ngIf="show">
    <div class="popup-header">
        <em class="fa fa-bell"></em>
          Notifications
    </div>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="javascript:void(0)">
        <div class="notification-content">
          <div class="icon">
            <em class="fas fa-check text-success border border-success"></em>
          </div>
          <div class="content">
            <div class="notification-detail">Lorem ipsum dolor sit amet
              consectetur adipisicing
              elit. In totam explicabo</div>
            <div class="notification-time">
              6 minutes ago
            </div>
          </div>
        </div>
      </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item text-center" href="javascript:void(0)">View all notifications</a>
  </div>
