.bg-primary {
  background-color: #7460ee !important;
}

.bg-success {
  background-color: #26c6da !important;
}

.bg-info {
  background-color: #1e88e5 !important;
}

.bg-warning {
  background-color: #ffb22b !important;
}

.bg-danger {
  background-color: #fc4b6c !important;
}

.bg-megna {
  background-color: #00897b;
}

.bg-theme {
  background-color: #009efb;
}

.bg-inverse {
  background-color: #2f3d4a;
}

.bg-purple {
  background-color: #7460ee;
}

.bg-light-primary {
  background-color: #f1effd;
}

.bg-light-success {
  background-color: #e8fdeb;
}

.bg-light-info {
  background-color: #cfecfe;
}

.bg-light-extra {
  background-color: #ebf3f5;
}

.bg-light-warning {
  background-color: #fff8ec;
}

.bg-light-danger {
  background-color: #f9e7eb;
}

.bg-light-inverse {
  background-color: #f6f6f6;
}

.bg-light {
  background-color: #f2f4f8;
}

.bg-white {
  background-color: #ffffff;
}
.card{
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
